body {
    font-family: "Ek Mukta", sans-serif;
    text-align: center;
    margin: 0;
    background-color: #e4e4e4;
    color: #2a2a2a;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 128px;
    margin-bottom: 48px;
}

h2 {
    text-align: left;
    font-family: "Slabo 27px", serif;
    margin: 0 22px;
    margin-bottom: 18px;
}

hr {
    border: 0;
    height: 0;
    margin: 0 2%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.centerHelper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.pipeBreak {
    display: inline-block;
    margin: 0 5px;
    color: #8d8d8d;
}

#pageWrapper, #loadingScreen {
    position: relative;
}

#pageWrapper {
    display: none;
    opacity: 0;
}

#loadingScreen {
    margin-top: 48px;
    width: 100%;
    height: 64px;
}

#loadingSpinner {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#headerLink {
    display: inline-block;
    margin: 0;
    margin-right: 4%;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    color: #2a2a2a;
    vertical-align: middle;
    transition: color 0.6s;
}

#headerLink:hover {
    color: #555;
}

a, a:link, a:visited {
    color: #008b8b;
    transition: color 0.6s;
}

a:hover {
    color: #6495ed;
}

.hiddenLink {
    text-decoration: none;
}

input[type="text"], select, #submit {
    display: inline-block;
    width: 32%;
    height: 52px;
    margin: 0 2px;
    padding: 12px 18px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d9d9d9;
    color: #4a4a4a;
    border: none;
    border-bottom: solid 3px #ccc;
    transition: border-bottom-color 0.6s, color 0.6s;
    box-sizing: border-box;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, #submit:hover, #submit:active {
    outline: none;
    color: #2a2a2a;
    border-bottom-color: #aaa;
}

select {
    width: 16%;
    background-image: url("../img/more.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
}

/* select:focus {
    background-image: url("../img/less.png");
} It appears there isn't actually a pseudo-class for this.*/

#submit {
    width: 52px;
    cursor: pointer;
}

#submit:active {
    border-bottom-width: 0;
    padding-top: 3px;
}

#submit i {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#submit:active i {
    top: 3px;
}

#qForm {
    margin: 18px 0;
}

.dualPanes, .fullPane, .umPane {
    display: inline-block;
    width: 97.2%;
    margin: 0 0.5%;
    margin-bottom: 16px;
    padding: 16px 0;
    background-color: #dcdcdc;
    border-bottom: solid 3px #d0d0d0;
    transition: border-bottom-color 0.6s;
}

.fullPane:hover, .dualPanes:hover, .umPane:hover {
    border-bottom-color: #b1b1b1;
}

.dualPanes {
    width: 48%;
    vertical-align: top;
}

.umPane {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
}

#errorPane {
    color: #b71c1c;
    font-weight: bold;
}

.flexContainer {
    display: flex;
}

#topPane > .flexContainer {
    width: 96%;
    margin: 0 auto;
}

#topPane > .flexContainer > div {
    flex: 1;
    height: 48px;
    line-height: 48px;
    font-size: 1vw;
    margin: 0 12px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 1px #999;
}

.playerBlock {
    display: flex;
    position: relative;
    height: 124px;
    width: 92%;
    margin: 14px auto;
    padding: 12px;
    box-sizing: border-box;
    background-color: #d4d4d4;
    box-shadow: 0 1px 5px 1px #a4a4a4;
}

.gbLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 32%;
    height: 100%;
    vertical-align: top;
}

.summonerName {
    flex: 3;
    width: 100%;
    height: 16%;
    line-height: 0.9vw;
    font-family: 'Slabo 27px', serif;
    font-weight: bold;
    font-size: 1vw;
}

.summonerName.snLinked {
    transition: color 0.6s;
    cursor: pointer;
}

.summonerName.snLinked:hover {
    color: #2196F3;
}

.champContainer {
    flex: 16;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    min-height: 1px; /* stupid Firefox workaround*/
    margin: 0 auto;
    margin-bottom: 3%;
}

.championLarge {
    max-height: 100%;
    max-width: 100%;
    box-shadow: 0 1px 3px #222;
    cursor: pointer;
}

.rankIcon {
    margin: 0 3.58%;
    font-size: 0.8vw;
}

.gbRight {
    flex: 3;
    width: 64%;
    height: 100%;
    margin-left: 2%;
}

.gbUpper, .gbLower {
    display: block;
    height: 48px;
    text-align: left;
    width: 100%;
}

.gbUpper > div, .gbLower > div {
    display: inline-block;
}

.gbLower > div {
    height: 100%;
    line-height: 100%;
}

.gbUpper {
    margin-bottom: 8px;
}

.summonerSpells, .gameItems {
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
}

.summonerSpells {
    width: 22%;
    margin-right: 2%;
}

.gameItems {
    width: 76%;
}

.summonerSpells img, .gameItems img {
    display: inline-block;
    width: 40.1%;
    max-width: 48px;
    margin: auto 4.2%;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
    cursor: pointer;
}

.gameItems img {
    width: 11.6%;
    margin: auto 0.92%;
    cursor: pointer;
}

.gbLower {
    vertical-align: top;
    width: 100%;
}

.gameStats {
    display: inline-block;
    width: 50%;
}

.gameStats p {
    display: inline-block;
    margin: 0;
}

.gameStats > div {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 1vw;
}

.statIcon {
    display: inline-block;
    width: 9.7%;
    max-width: 20px;
    margin-right: 4.2%;
    vertical-align: middle;
}

#bottomPane > div {
    width: 97%;
    max-height: 3000px;
    padding: 16px 0;
    margin: 20px auto;
    overflow: hidden;
    transition: max-height 0.85s;
    box-shadow: 0 1px 5px 1px #a4a4a4;
}

#bottomPane .blockContents {
    display: none;
}

#bottomPane > .hiddenSb {
    max-height: 29px;
}

.expBtn {
    width: 24px;
    height: 24px;
    line-height: 24px;
    float: right;
    margin-top: 2px;
    cursor: pointer;
}

.expVert {
    transform: rotateZ(90deg);
    transition: transform 0.25s;
}

.expVert.expBtnTurnt {
    transform: rotateZ(180deg);
}

#statBlock1 {
    margin-top: 0;
}

#gsTable, .tsTable {
    width: 97%;
    margin: 0 auto;
    font-size: 1vw;
    table-layout: fixed;
}

#gsTable td, .tsTable td {
    border: 0;
    border-bottom: 1px solid #c2c2c2;
}

#gsTable td:first-child, .tsTable td:first-child {
    font-weight: bold;
    text-align: left;
    width: 16%;
    border: 0;
}

#gsTable img, .tsTable img {
    max-height: 3vw;
    cursor: pointer;
}

#tsTabs {
    display: flex;
    width: 97%;
    height: 128px;
    line-height: 54px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    box-shadow: 0 1px 5px 0 #888;
}

#tsTabs > div {
    height: 100%;
    font-size: 1vw;
    color: rgba(2, 2, 2, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: background-color 0.4s, color 0.4s;
    cursor: pointer;
}

#tsTabs > div:hover {
    background-color: rgba(0, 110, 130, 0.25);
    color: #222;
}

#tsTable1, #tsTable2, #tsTable3 {
    flex: 1;
}

#tsTable1 {
    background-image: url(../img/tl1.png);
}

#tsTable2, #tsTable3 {
    background-image: url(../img/tl2.png);
}

#tsTable4 {
    flex: 3;
    line-height: 60px;
    background-image: url(../img/tl3.png);
}

.tsSelected {
    background-color: rgba(0, 130, 150, 0.15);
}

.tsTable {
    display: none;
}

#tooltip {
    position: fixed;
    width: 256px;
    display: none;
    padding: 12px;
    text-align: left;
    background-color: #d2d2d2;
    box-shadow: 0 0 4px 0 #666;
    box-sizing: border-box;
}

.itemName {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 8px;
}

.itemDesc {
    font-size: 14px;
    line-height: 18px;
}

unique, passive, active, aura {
    font-weight: bold;
}

grouplimit {
    font-style: italic;
    color: #8a2b1c
}

#footer {
    margin-top: 44px;
    margin-bottom: 24px;
    color: #999;
}

#footer p {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
}