body {
    font-family: "Ek Mukta", sans-serif;
    text-align: center;
    margin: 0;
    background-color: #e4e4e4;
    color: #2a2a2a;
}

#firstpage {
    margin-top: 9%;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 128px;
    margin-bottom: 48px;
}

h2 {
    font-family: "Slabo 27px", serif;
    margin: 0;
    margin-bottom: 18px;
}

#headerLink {
    display: inline-block;
    margin: 0;
    margin-right: 48px;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    color: #2a2a2a;
    vertical-align: middle;
    transition: color 0.6s;
}

#headerLink:hover {
    color: #555;
}

a, a:link, a:visited {
    color: #008b8b;
    transition: color 0.6s;
}

a:hover {
    color: #6495ed;
}

.hiddenLink {
    text-decoration: none;
}

input[type="text"], select, #submit {
    display: inline-block;
    width: 420px;
    height: 52px;
    margin: 0 2px;
    padding: 12px 18px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d9d9d9;
    color: #4a4a4a;
    border: none;
    border-bottom: solid 3px #ccc;
    transition: border-bottom-color 0.6s, color 0.6s;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, #submit:hover, #submit:active {
    outline: none;
    color: #2a2a2a;
    border-bottom-color: #aaa;
}

select {
    width: 212px;
    background-image: url("../img/more.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
}

/* select:focus {
    background-image: url("../img/less.png");
} It appears there isn't actually a pseudo-class for this.*/

#submit {
    width: 52px;
    cursor: hand;
}

#submit:active {
    border-bottom-width: 0;
    padding-top: 3px;
}

#submit i {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#submit:active i {
    top: 3px;
}

#qForm {
    margin: 18px 0;
}

#secondpage {
    margin: 0;
}

.dualPanes, .fullPane {
    display: inline-block;
    width: 97.2%;
    margin: 0 0.5%;
    padding: 16px 0;
    background-color: #dcdcdc;
    border-bottom: solid 3px #d0d0d0;
    transition: border-bottom-color 0.6s;
}

.fullPane:hover, .dualPanes:hover {
    border-bottom-color: #b1b1b1;
}

.dualPanes {
    width: 48%;
    vertical-align: top;
}

#errorPane {
    color: #b71c1c;
    font-weight: bold;
}

.summonerIcon {
    display: inline-block;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
}

#summonerStats {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 20px;
}

#theSummonerName {
    font-weight: bold;
    font-size: 26px;
    font-family: "Slabo 27px", serif;
}

#theSummonerLevel {
    font-size: 16px;
}

#rightPaneContainer {
    display: block;
    width: 90%;
    margin: 4px auto;
}

#rightPaneContainer h2 {
    text-align: left;
}

.gameBlock {
    display: block;
    height: 124px;
    width: 100%;
    margin: 12px auto;
    padding: 12px;
    box-sizing: border-box;
    background-color: #d4d4d4;
    box-shadow: 0 1px 5px 1px #a4a4a4;
}

.gbUpper, .gbLower {
    display: block;
    text-align: left;
    width: 100%;
}

.championLarge {
    display: inline-block;
    width: 48px;
    height: 48px;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
}

.gameOutcome {
    display: inline-block;
    vertical-align: middle;
    margin: 0 14px;
    padding: 3px 8px;
    font-family: "Slabo 27px", serif;
    font-weight: bold;
    font-size: 22px;
    border-radius: 5px;
}

#footer {
    margin-top: 44px;
    margin-bottom: 24px;
    color: #999;
}

#footer p {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
}