body {
    font-family: "Ek-Mukta", sans-serif;
    text-align: center;
    margin: 0;
    background-color: #e4e4e4;
    color: #2a2a2a;
}

#page {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 128px;
    margin-bottom: 48px;
}

input[type="text"], select, #submit {
    display: inline-block;
    width: 420px;
    height: 52px;
    margin: 0 2px;
    padding: 12px 18px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d9d9d9;
    color: #4a4a4a;
    border: none;
    border-bottom: solid 3px #ccc;
    transition: border-bottom-color 0.6s, color 0.6s;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, #submit:hover, #submit:active {
    outline: none;
    color: #2a2a2a;
    border-bottom-color: #aaa;
}

select {
    width: 212px;
    background-image: url("../img/more.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
}

/* select:focus {
    background-image: url("../img/less.png");
} It appears there isn't actually a pseudo-class for this.*/

#submit {
    width: 52px;
    cursor: hand;
}

#submit:active {
    border-bottom-width: 0;
    padding-top: 3px;
}

#submit i {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#submit:active i {
    top: 3px;
}