body {
    font-family: "Ek Mukta", sans-serif;
    text-align: center;
    margin: 0;
    background-color: #e4e4e4;
    color: #2a2a2a;
}

#pageWrapper, #loadingScreen {
    position: relative;
}

#pageWrapper {
    display: none;
    opacity: 0;
}

#loadingScreen {
    margin-top: 48px;
    width: 100%;
    height: 64px;
}

#loadingSpinner {
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#firstpage {
    margin-top: 9%;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-size: 128px;
    margin-bottom: 48px;
}

h2 {
    font-family: "Slabo 27px", serif;
    margin: 0;
    margin-bottom: 18px;
}

h3 {
    text-align: left;
    font-family: "Slabo 27px", serif;
    margin-bottom: 7px;
}

.pipeBreak {
    display: inline-block;
    margin: 0 5px;
    color: #8d8d8d;
}

#headerLink {
    display: inline-block;
    margin: 0;
    margin-right: 4%;
    font-family: "Lobster", sans-serif;
    font-size: 42px;
    color: #2a2a2a;
    vertical-align: middle;
    transition: color 0.6s;
}

#headerLink:hover {
    color: #555;
}

a, a:link, a:visited {
    color: #008b8b;
    transition: color 0.6s;
}

a:hover {
    color: #6495ed;
}

.hiddenLink {
    text-decoration: none;
}

input[type="text"], select, #submit {
    display: inline-block;
    width: 32%;
    height: 52px;
    margin: 0 2px;
    padding: 12px 18px;
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #d9d9d9;
    color: #4a4a4a;
    border: none;
    border-bottom: solid 3px #ccc;
    transition: border-bottom-color 0.6s, color 0.6s;
    box-sizing: border-box;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, #submit:hover, #submit:active {
    outline: none;
    color: #2a2a2a;
    border-bottom-color: #aaa;
}

select {
    width: 16%;
    background-image: url("../img/more.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 24px;
}

/* select:focus {
    background-image: url("../img/less.png");
} It appears there isn't actually a pseudo-class for this.*/

#submit {
    width: 52px;
    cursor: pointer;
}

#submit:active {
    border-bottom-width: 0;
    padding-top: 3px;
}

#submit i {
    position: relative;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#submit:active i {
    top: 3px;
}

#qForm {
    margin: 18px 0;
}

#secondpage {
    margin: 0;
}

.dualPanes, .fullPane, .umPane {
    display: inline-block;
    width: 97.2%;
    margin: 0 0.5%;
    padding: 16px 0;
    background-color: #dcdcdc;
    border-bottom: solid 3px #d0d0d0;
    transition: border-bottom-color 0.6s;
}

.fullPane:hover, .dualPanes:hover, .umPane:hover {
    border-bottom-color: #b1b1b1;
}

.dualPanes {
    width: 48%;
    vertical-align: top;
}

.umPane {
    display: block;
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
}

#errorPane {
    color: #b71c1c;
    font-weight: bold;
}

#leftPane {
    background: none;
    border: none;
    padding: 0;
}

.summonerIcon {
    display: inline-block;
    height: 64px;
    width: 64px;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
}

#summonerStats {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin: 0 20px;
}

#theSummonerName {
    font-weight: bold;
    font-size: 26px;
    font-family: "Slabo 27px", serif;
}

#theSummonerLevel {
    font-size: 16px;
}

#statLoading {
    font-size: 40px;
}

#statLoaded {
    display: none;
}

.statChart {
    width: 90%;
}

.paneContainer {
    display: block;
    width: 90%;
    margin: 4px auto;
}

.paneContainer h2 {
    text-align: left;
}

.gameBlock {
    display: block;
    position: relative;
    height: 124px;
    width: 100%;
    margin: 14px auto;
    padding: 12px;
    box-sizing: border-box;
    background-color: #d4d4d4;
    box-shadow: 0 1px 5px 1px #a4a4a4;
}

.detailsBtn {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotateY(90deg);
    font-size: 22px;
    background-color: #2196f3;
    border-radius: 100%;
    box-shadow: 0 2px 8px 1px #999;
    cursor: pointer;
    transition: transform 0.3s;
}

.detailsBtn:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    z-index: 1;
}

.detailsBtn i {
    vertical-align: middle;
    color: #e9e9e9;
}

.detailsBtn:after {
    content: '';
    width: 24px;
    height: 48px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    background-color: #42A5F5;
    z-index: -1;
}

.detailsBtn.detailsOn {
    transform: translate(50%, -50%) rotateY(0);
}

.gbUpper, .gbLower {
    display: block;
    height: 48px;
    text-align: left;
    width: 100%;
}

.gbUpper > div, .gbLower > div {
    display: inline-block;
    height: 100%;
    line-height: 100%;
}

.gbUpper {
    margin-bottom: 8px;
}

.gbUpperLeft {
    width: 32%;
}

.championLarge {
    display: inline-block;
    width: 26%;
    max-width: 48px;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
    cursor: pointer;
}

.gameOutcome {
    display: inline-block;
    width: 46%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 0 7%;
    padding: 3px 3.6%;
    font-weight: bold;
    font-family: "Slabo 27px", serif;
    font-size: 1.4vw;
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 #8d8d8d;

}

.gbUpperRight {
    width: 62%;
    margin-left: 2%;
}

.summonerSpells, .gameItems {
    display: inline-block;
    vertical-align: middle;
    margin: auto 0;
}

.summonerSpells {
    width: 22%;
    margin-right: 2%;
}

.gameItems {
    width: 76%;
}

.summonerSpells img, .gameItems img {
    display: inline-block;
    width: 40.1%;
    max-width: 48px;
    margin: auto 4.2%;
    vertical-align: middle;
    box-shadow: 0 1px 3px #222;
    cursor: pointer;
}

.gameItems img {
    width: 11.6%;
    margin: auto 0.92%;
    cursor: pointer;
}

#tooltip {
    position: fixed;
    width: 256px;
    display: none;
    padding: 12px;
    text-align: left;
    background-color: #d2d2d2;
    box-shadow: 0 0 4px 0 #666;
    box-sizing: border-box;
}

.itemName {
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 8px;
}

.itemDesc {
    font-size: 14px;
    line-height: 18px;
}

unique, passive, active, aura {
    font-weight: bold;
}

grouplimit {
    font-style: italic;
    color: #8a2b1c
}

.gbLower > div {
    vertical-align: top;
}

.gbLowerLeft {
    width: 32%;
    font-size: 16px;
}

.gameTime, .gameType {
    height: 24px;
    line-height: 24px;
    font-size: 1vw;
}

.gbLowerRight {
    width: 62%;
    margin-left: 2.2%;
}

.gameTime p {
    display: inline-block;
    margin: 0;
}

.gameStats {
    display: inline-block;
    width: 50%;
}

.gameStats p {
    display: inline-block;
    margin: 0;
}

.gameStats > div {
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 1vw;
}

.statIcon {
    display: inline-block;
    width: 9.7%;
    max-width: 20px;
    margin-right: 4.2%;
    vertical-align: middle;
}

#footer {
    margin-top: 44px;
    margin-bottom: 24px;
    color: #999;
}

#footer p {
    display: inline-block;
    margin: 0 8px;
    font-size: 14px;
}